/*reset => remise à zero des règles css*/

h1, p, figure, ul, li{ /*enlever les marges interne externe */
    margin: 0;
    padding: 0;
}

body{ /* changer la police de caractère de toutes les balises*/
    font-family: sans-serif;
}

ul, li{ /*enlever les points devant les listes */
    list-style: none;
}